services:
    app:
      build: .
      depends_on:
        - db
      env_file:
        - .env
      volumes:
        - ./dumps:/app/dumps
    db:
      image: postgres:15-alpine
      restart: always
      environment:
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: admin
        POSTGRES_DB: autodb
      volumes:
        - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
